@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://img.freepik.com/free-photo/stethoscope-copy-space_23-2147652347.jpg?w=740&t=st=1698727224~exp=1698727824~hmac=641de60ecc37327ce9b0a5e6de5c34cc08f4e8854d033ea2c8902fc601678bf5"),
    linear-gradient(rgba(32, 32, 32, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
}
#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}

nav > a {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-decoration-line: none;
}

nav > a.active {
  text-decoration-line: underline;
}

nav {
  padding: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #b0b6b9 51%,
    #9a9b9e 100%
  );
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-top: 7px;
  margin-bottom: 18px;
}

section {
}

hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
  width: 60%;
}

input[type="submit"] {
  background: rgb(46, 38, 95);
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 12px 0;
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #b0b6b9 51%,
    #9a9b9e 100%
  );
  width: 60%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input[type="submit"] {
  cursor: pointer;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #555252;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 60%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile.tile-title {
  font-weight: bold;
}

.tile-container {
  margin-bottom: 20px;
}
